{% extends "layout.html" %}
{% block content %}
  <h1>About Page</h1>
  <article class="media content-section">
    <div class="media-body">
      <p class="article-content">This is an implementation of a bitcoin inspired blockchain. Users may interact with the blockchain by creating one of three node types: Miner, Full, and SPV. With a node, users can accumulate coins and send coins. This application utilizes cryptography and distributed ledger technology to provide security from centralized government controlled currencies.</p>
    </div>
  </article>
{% endblock content %}
